*{
    display: block;
    margin: 0px;
    padding: 0px;

}



.card {
    
    background-color: rgb(136, 216, 240);
    width: 25rem;
    height: 35rem;
    margin: 40px;
    border-radius: 3%;
   
    
    
    display: flex;
    flex-direction: column;
    align-items: center;


}

.cabeça {
    display: flex;
    justify-content: space-between;
    width: 100%;    
    margin-top: 2%;
    
}
    
.nome {
    display: flex;
    flex-direction: column;
    margin: 3mm;
}    



.imagem{
    width: 100%;  
  
}

.meio{
    display: flex;
    margin: 10mm;
    justify-content: space-between;
    

}


.dados{
    display: flex;
    justify-content: space-between;

}


.artistarari{
    display: flex;
    justify-content:left;
}

.texto{
    display:flex;
    background-color: aqua;
    flex-direction: column-reverse;
   
}

.vida{
    display: flex;
    margin-top: 3%;
}

.iconagua{
    display: flex;
    margin:3%;
    margin-right: 5%;
}